.movie{
    
    margin-bottom :40px ;
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
   
   
}
.all {
   
    background-color: black;
    display: inline-block;
    
}
.card {
 margin :0 10px;
 border-radius: 10px;

}
.movie:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
